.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.header{
  position: static;
}

.admin-body {
  padding-top: 16px;
  display: flex;
  max-height: 90vh;
  overflow: hidden; /* tránh tràn */
}

.admin-content {
  flex: 1;
  padding: 16px;
  overflow-y: auto; /* scroll riêng phần nội dung */
}

/* sidebar */
.admin-body > div:first-child {
  width: 250px;
}

